.App {
  background-color: #1f9925;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  color: white;
}

.divcard {
  display: flex;
  flex-direction: row;
}

.Card {
  cursor: pointer;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px;
  height: 100px;
  width: 100px;
  border-radius: 5px;
  border: solid white 1px;
  transition: transform 400ms;
}

.Card.active {
  transform: rotateY(180deg);
  background-color: brown;
}

.Card.inactive {
  background-color: rgb(173, 145, 145);
}

.Card.active .recto{
  display: none;
}

.recto {
  position: relative;
}